h1 {
    font-size: 2rem;
    text-align: center;
    color: darkblue;
}

#cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    justify-content: center;
}

section {
    width: 90%;
    margin: 1rem 0.25rem;
    padding: .5rem;
    background-color: #e0e0ff;
    border: 1px solid #bbb;
    box-shadow: 4px 4px 8px #999;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section img {
    width: 90%;
    height: auto;
    margin-top: .5rem;
    margin-bottom: 0.25rem;
}

section h2 {
    margin: 0.25rem;
    font-size: 1.5rem;
    color: darkblue;
}

section p {
    margin: 0 .25rem;
    font-size: 1.25rem;
}
