@media screen and (min-width: 32em) {

    /* ----------------- NAV ------------------ */
    #navButton {
        display: none;
    }

    #navLinks, #navLinks.open {
        display: flex;
        justify-content: left;
    }

    #navLinks a {
        font-size: 20px;
        padding: 20px;
    }

    /* ---------------- HEADER ---------------- */

    #hero_container {
        text-align: right;
        height: 500px;
    }

    #hero_text {
        font-size: 60px;
        right: auto;
        margin: 15px 0;
    }

    #call_to_action {
        font-size: 18px;
    }

    .centered {
        top: 50%;
        left: 70%;
        transform: translate(-50%, -50%);
    }

    /* ---------------- FOOTER ---------------- */

    footer {
        padding-top: 2em;
    }

    footer p {
        display: inline;
    }

}