@media screen and (min-width: 32em) {

    /* ----------------- NAV ------------------ */
    #navButton {
        display: none;
    }

    #navLinks, #navLinks.open {
        display: flex;
        justify-content: left;
    }

    #navLinks a {
        font-size: 20px;
        padding: 20px;
    }

    /* ---------------- HEADER ---------------- */

    #hero_container {
        text-align: right;
        height: 500px;
    }

    #hero_text {
        font-size: 60px;
        right: auto;
        margin: 15px 0;
    }

    #call_to_action {
        font-size: 18px;
    }

    .centered {
        top: 50%;
        left: 70%;
        transform: translate(-50%, -50%);
    }

     /* ----------------- MAIN ----------------- */
     
     .cards {
        width: 100%;
    }
    
    .event {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        width: 70%;
        padding: 20px;
        margin: 2em auto;
    }
    
    .event_text {
        padding: 1em;
        margin-left: 1em;
        color: black;
        border: 5px solid white;
        background-color: rgba(255, 255, 255, .5);
    }

    .item_left {
        grid-column: 1 / 4;
    }

    .item_right {
        grid-column: 4 / 6;
    }

    .left {
        margin-left: 5%;
    }

    .right {
        margin-right: 5%;
    }

    /* ------------ IMAGE SLIDESHOW ------------ */

    .slideshow-container {
        display: none;
    }
    
    .dot {
        display: none;
    }

    .image_gallery {
        display: inline;
    }

    .image_gallery img {
        width: 300px;
        height: 300px;
        margin: 15px 15px;
        border: 5px solid black;
        transition: transform .5s;
        box-shadow: 5px 5px 10px #6f7364;
    }

    .image_gallery img:hover {
        transform: scale(1.1);
    }

    /* ---------------- FOOTER ---------------- */

    footer {
        padding-top: 2em;
    }

    footer p {
        display: inline;
    }

}