fieldset {
    margin: 2rem;
    border: 2px solid #ddd;
    border-radius: 6px;
    padding: .5rem 2%;
}

label {
    display: block;
    padding-top: 1rem;
    font-size: .9rem;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    background-color: #eee;
    display: block;
    border: 1px solid #999;
    border-radius: 6px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 400px;
    appearance: none;
}

input[type="range"] {

}